header {
    font-size: 24px;
    text-align: center;
    
    margin-bottom: 50px;
    height: 60px;
    padding-top: 20px;
    background-color: #2f3824;
    color : #f4ebe3;
}
body {
    font-family: Arial, sans-serif;
    background-color:  #6f171f;
    margin: 3%;
    padding: 0;
}
.christmaslights {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    vertical-align: middle;
    margin-left: 10px;
}
main {
    padding:10%;
    text-align: center;
    color : #f4ebe3;

}
#reindeer {
    position: fixed;
    bottom: 20px;
    left: -200px;
    width: 200px;
    transition: left 5s linear;
    transform: scaleX(-1);
}

.hidden {
    opacity: 0;
}
#snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: -50px;
    color: white;
    user-select: none;
    animation: fall linear infinite;
    opacity: 0.9;
}

@keyframes fall {
    to {
        transform: translateY(110vh);
    }
}

#item{
    
    font-size: 25px;
    color:#f4ebe3;
    
    margin: 20px;
}
#removeButton{
    margin-left: 20px;
    background-color: #2f3824;
    color: #f4ebe3;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
#checkButton{
    margin-left: 20px;
    background-color: #2f3824;
    color: #f4ebe3;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    
}